// 颜色定义规范
$color-background: #fff;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #333;
$color-dialog-background: #666;

// 背景颜色定义
$color-white: #FFFFFF;
$color-bg-dark: #414751;
$color-bg-darker: #393F48;
$color-bg-body: #eee;
$color-bg-hover: #E9E9EC;
$color-bg-light: #ffffff;
$color-bg-dark-transparent: rgba(0,0,0,.5);
$color-bg-blue: #1875F0;
$color-bg-f7: #f7f7f7;
$color-bg-lighter: #fcfcfc;
$color-bg-grey: #dbdbdb;
$color-bg-ef: #efefef;

$color-theme: #fff;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;

$color-border-grey: #dbdbdb;

//字体颜色规范
$color-text: #666666;
$color-text-highlight: #1875F0;
$color-text-d: #333333;
$color-text-light: #999;
$color-text-ll: rgba(255, 255, 255, 0.8);
$color-text-table-header: #868686;
$color-link-blue: #3D80FF;
$color-link-blue-light: #ECF3FF;
$color-text-red: #F25C62;
$color-text-grey: #6F7378;
$color-text-dark-blue: #4B4B64;
$color-text-white: #ffffff;

//字体定义规范
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-b: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;

// 表格相关颜色
$table-header-bg: #F7F7F7;
$table-body-bg: #FCFCFC;
$table-body-border: #EEEEEE;

// 按钮颜色
$button-highlight-bg: #1875F0;
$button-warning-bg: #F85959;

// 边框颜色
$color-border: #e9e9e9;
$color-border-greyee: #EEEEEE;
$color-border-d6: #d6d6d6;

$tag-bg: #D9DBE4;